<nav class="bottom-nav">
    <a href="INDEX_PATH" class="nav-item" data-page="home">
        <i class="fa-solid fa-house"></i>
        <span>Beranda</span>
    </a>

    <a href="PAGES_PATHriwayat.html" class="nav-item" data-page="riwayat">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>Riwayat</span>
    </a>

    <a href="PAGES_PATHdaftar_dokter.html" class="nav-item-center" data-page="chat">
        <i class="fa-solid fa-stethoscope"></i>
    </a>

    <a href="PAGES_PATHprofile.html" class="nav-item" data-page="profile">
        <i class="fa-solid fa-user"></i>
        <span>Profil</span>
    </a>

    <a href="PAGES_PATHpengaturan.html" class="nav-item" data-page="pengaturan">
        <i class="fa-solid fa-gear"></i>
        <span>Pengaturan</span>
    </a>
</nav>